<div class="col-lg-4 col-md-6">
    <div class="product">
        <div class="image">
            <a href="{{ path('publico.producto', { id: producto.id }) }}">
                <img src="{{ asset('img/' ~ producto.imagen) }}" alt="" class="img-fluid image1">
            </a>
        </div>
        <div class="text">
            <h3 class="h5">
                <a href="{{ path('publico.producto', { id: producto.id }) }}">{{ producto.nombre }}</a>
            </h3>
            <p class="price">
                {% if producto.precio_anterior %}
                    <del>${{ producto.precio_anterior }}</del>
                {% endif %}
                $ {{ producto.precio }}
            </p>
        </div>
        <div class="ribbon-holder">
            {% if producto.oferta %}
            <div class="ribbon sale">SALE</div>
            {% endif %}

            {% if producto.nuevo %}
            <div class="ribbon new">NEW</div>
            {% endif %}
        </div>
    </div>
</div>